{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block body %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>L'agence Immo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam sed debitis dolor ducimus fugiat blanditiis facere quidem sapiente harum atque praesentium quasi, quibusdam, ipsa officia. Ratione nemo possimus facere.</p>
    </div>
</div>

<div class="container">
    <h2>Les derniers biens</h2>
    <div class="row flex">
    {% for property in properties %}
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path('property.show', {id: property.id}) }}">{{ property.title }}</a>
                    </h5>
                    <p class="card-text">{{ property.city}} ({{ property.postalCode }})</p>
                    <div class="text-primary" style="font-size: 2rem; font-weight: bold;"> {{ property.price }} €</div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

