{% extends 'base.html.twig' %}

{% block title property.title %}

{% block main %}
    {{ include('block/_flash_messages_form.html.twig') }}

    <div class="jumbotron">
        <div class="container">

            <div class="row">
                <div class="col-md-7">
                    <div class="slider-slick">
                        {% if property.pictures is empty %}
                            <img src="{{ '/media/properties/360x230.jpg' | imagine_filter('medium') }}" class="card-img-top" style="width: 100%;">
                        {% else %}
                            {% for picture in property.pictures %}
                                <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('medium') }}" class="card-img-top" style="width: 100%;">                           
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="show-text col-md-4">
                    <h2>{{ property.title }}</h2>
                    <h3>{{ property.rooms }} pièces - {{ property.surface }} m²</h3>
                    <div class="propertyPrice">{{ property.formatedPrice }} €</div>
                    <p class="mt-2">{{ property.description | nl2br }}</p>
                    <a href="{{ path('contact') }}" class="btn btn-primary mt-2" id="contactButton" {% if form.vars.submitted %} 
                    style="display: none" {% endif %}>Contacter l'agence</a>

                    {# Formulaire de contact #}
                    <div id="contactForm" class="mt-4" {% if not form.vars.submitted %} style="display: none" {% endif %}>
                        {{ form_start(form) }}
                            <div class="row">
                                <div class="col">{{ form_row(form.firstname) }}</div>                                   
                                <div class="col">{{ form_row(form.lastname) }}</div>
                            </div>
                            <div class="row">
                                <div class="col">{{ form_row(form.phone) }}</div>                                   
                                <div class="col">{{ form_row(form.email) }}</div>
                            </div>
                        {{ form_rest(form) }}
                        <div class="form-group">
                            <button class="btn btn-primary">Envoyer</button>
                        </div>
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-7">
                <h2>Caractéristiques</h2>
                <hr>
                <table class="table table-striped">
                    <tr>
                        <td>Adresse</td>
                        <td>{{ property.address }}</td>
                    </tr>
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{ property.surface }} m²</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Chambres</td>
                        <td>{{ property.bedrooms }}</td>
                    </tr>
                    <tr>
                        <td>Etage</td>
                        <td>{{ property.floor }}</td>
                    </tr>
                </table>
            </div>
            <div class="show-options col-md-4">                          
                <h2>Spécificités</h2>
                <hr>
                <ul class="list-group">
                    {% if property.options is empty %}
                        <p>Aucunes spécificités</p>
                    {% else %}
                        {% for option in property.options %}                                                 
                            <li class="list-group-item">{{ option.name }}</li>                                               
                        {% endfor %}
                    {% endif %}                    
                </ul>
            </div>
        </div>
        <div id="map" style="width: 100%; height: 400px; margin-top: 4em; margin-bottom: 4em;" data-lat="{{ property.lat }}" data-lng="{{ property.lng }}"></div>
    </div>   
{% endblock %}

