<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="logo" href="{{ path('home') }}"><img src="{{ asset('media/logo.jpg') }}"></a>
    <a class="navbar-brand" href="{{ path('home') }}">Agence Immo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if current_menu is defined and current_menu == 'properties' %}active{% endif %}" 
                href="{{ path('property.index') }}">Acheter <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a href="{{ path('contact') }}" class="nav-link {% if current_menu is defined and current_menu == 'contact' %}active{% endif %}">Contact</a>
            </li>  
        </ul>        
        <ul class="nav navbar-nav navbar-right">               
            {% if app.user %}
                <div class="navbar-nav">
                    <div class="li nav-item">
                        <a href="{{ path('admin.property.index') }}" class="nav-link {% if current_menu is defined and current_menu == 'admin' %}active{% endif %}">Espace Admin</a>
                    </div>
                    <div class="li nav-item">
                        <a href="{{ path('logout') }}" class="nav-link pull-right">Se déconnecter</a>
                    </div>                       
                </div>
            {% else %}
                <li class="nav-item ml-auto">
                    <a href="{{ path('login') }}" class="nav-link {% if current_menu is defined and current_menu == 'login' %}active{% endif %}">Se connecter</a>
                </li>
            {% endif %}               
        </ul>               
    </div>
</nav>
