{% extends 'base.html.twig' %}

{% block title 'Formulaire de contact' %}

{% block main %}
    {{ include('block/_flash_messages_contactForm.html.twig') }}

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h2>Formulaire de contact</h2>
                <hr>
                <div id="contactForm" class="mt-4">
                    {{ form_start(contactForm) }}
                        <div class="row mb-4">
                            <div class="col">{{ form_row(contactForm.firstname) }}</div>                                   
                            <div class="col">{{ form_row(contactForm.lastname) }}</div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">{{ form_row(contactForm.phone) }}</div>                                   
                            <div class="col">{{ form_row(contactForm.email) }}</div>
                        </div>
                    {{ form_rest(contactForm) }}
                    <div class="form-group">
                        <button class="btn btn-primary">Envoyer</button>
                    </div>
                    {{ form_end(contactForm) }}
                </div> 
            </div>        
        </div>        
    </div>
    
{% endblock %}

{% block footer %}{% endblock %}




        