{% extends 'base.html.twig' %}

{% block body %}

    <div class="contact">
        <div class="container mt-4">
            <h1>Formulaire de contact</h1>
            <hr>

            {% if not contactForm.vars.valid %}
                <div class="alert alert-danger mt-4">
                    Erreur, vous n'avez pas correctement rempli le formulaire de contact.
                </div>           
            {% endif %}

            <div id="contactForm" class="mt-4">
                {{ form_start(contactForm) }}
                    <div class="row">
                        <div class="col">{{ form_row(contactForm.firstname) }}</div>                                   
                        <div class="col">{{ form_row(contactForm.lastname) }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form_row(contactForm.phone) }}</div>                                   
                        <div class="col">{{ form_row(contactForm.email) }}</div>
                    </div>
                {{ form_rest(contactForm) }}
                <div class="form-group">
                    <button class="btn btn-primary">Envoyer</button>
                </div>
                {{ form_end(contactForm) }}
            </div>  
        </div>
    </div>
    
{% endblock %}

        