{% extends 'base.html.twig' %}

{% block title 'Gérer les options' %}

{% block main %}

    <div class="container mt-4">

        <div class="row mb-4">
            <div class="col-6">
                <h2>Gérer les options</h2>
            </div>
            <div class="col-6 text-right align-self-center">
                <a href="{{ path('admin.option.new') }}" class="btn btn-primary">Créer une nouvelle option</a>
            </div>
        </div>

        {% for message in app.flashes ('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>           
        {% endfor %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for option in options %}               
                    <tr>
                        <td>{{ option.name }}</td>
                        <td>
                            <a href="{{ path('admin.option.edit', {id: option.id}) }}" class="btn btn-secondary">Editer</a>
                            <a href="{{ path('admin.option.delete', {id: option.id, _token: csrf_token ( 'delete' ~ option.id )}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer ?')" class="btn btn-danger">Supprimer</a>
                            <a href="{{ path('admin.option.show', {id: option.id}) }}" class="btn btn-primary">Voir l'option</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}

{% block footer %}{% endblock %}


